<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
</head>
<body>
	<center>
		<table width=60%>
    <tbody>
    <tr>
			<td><a href="/"><h2>OrangBulukumba.com</h2></a></td>
			<td style="text-align: right;"><h2>
				  <a href="/login/"><input type="submit" value="LOGIN"></a>
					<a href="/register"><input type="submit" value="REGISTER"></a>
			</td>
    </tr>
    {% block content %}

    {% endblock %}
  </tbody>
  </table>
</br><strong>© Copyright 2016. {BugisDev/}</strong>
</center>
</body>
</html>
