{% extends "layout.html" %}

{% block content %}
		<tr bgcolor="#eee">
        <td colspan="2">
					<h3>{{ post.title }}</h3><hr>
					<a href="/user/{{post.user.username}}">{{ post.user.full_name }}</a> | {{ post.createdtime }}
					<p>
							{{ post.content }}
					</p>
					<form action="/post/vote" method="POST" name="vote">
						<input type="hidden" value="{{post.id}}" name="vote">
	          <input type="submit" value="VOTE" name="vote">
					</form>
					{% with errors = get_flashed_messages() %}
					{% if errors %}
					  {%- for msg in errors %}
					    <i style="color:red">{{ msg }}</i>
					    {% endfor %}
					{% endif %}
					{% endwith %}
					<p>Votes: {{ post.Vote.count() }}</p>
	        	{% for a in post.Comment.all() %}
            	<p>{{ a.user.full_name }}: {{ a.desc }}</p>
	          {% endfor %}

          Komentar:</br>
					<form action="" method="POST" name="desc">
						{{ form.desc(style="width: 100%;") }}
						{{ form.hidden_tag() }}
            </br>
            <input type="submit" value="KOMENTAR" name="desc">
          </form>
					{{ comment_msg }}
					{% for error in form.desc.errors %}
						{% if error %}<i style="color:red">{{error}}</i>{% endif %}
					{% endfor %}

          </p>
				</td>
    </tr>

{% endblock %}
